a {
  all: unset;
}

.filter-card {
  margin-bottom: 16px;
  padding: 16px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
  display: flex;
  justify-content: flex-end;
}

.flex-container {
  display: flex;
}

.width-max {
  width: 100%;
}

.cursor-pointer {
  cursor: pointer;
}
